        {% extends "layout.html.twig" %}

        {% block content %}

        <div class="jumbotron">
        <div class="container">
          <h1>Page title here</h1>
          <p>Sub title here</p>
          <div class="pull-right"><button class="btn btn-primary">Ajouter un livre</button></div>
          <div class="form-group">
            <input type="search" class="input-sm form-control" placeholder="Que voulez-vous lire aujourd'hui?">
            <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span>Chercher</button>
          </div>

          <section id="search-container">
          <hr class="divider short"/>
          <div class="search-box form-group">
          <form target="blank" id="search-form" action="https://www.google.com/#q=site:http://www.leeroy.me">
          <i class="icon icon-search" id="search-icon"></i>
          <input class="" id="search-input" maxlength="255" type="search" name="search" placeholder="What are you looking for?"/>
          </form>
          </div>
          </section>
        </div>
       </div>
           <div class="row">
           <nav class="col-md-12 region region-navigation">
              <ul class="book_nav">
                  <li class="region-books col-md-6 dropdown">
                      <a data-toggle="dropdown" href="#">Bibliothèque<b class="carret">
                      </b></a>
                      <ul class="dropdown-menu">
                          {% set categoryArray = [] %}
                          {% for book  in books %}
                              {% if book.category not in categoryArray %}
                                      <li><a href="books/{{ book.category }}">{{ book.category }}</a></li>
                                  {% set categoryArray = categoryArray|merge([book.category])  %}
                              {% endif %}
                          {% endfor %}
                        </ul>
                  </li>
                  <li id="region-quiz col-md-6"><a href="#">Quiz & exercices</a></li>
              </ul>
           </nav>
           </div>

           <div class="row">
           <section class="col-md-12 recent" id="recent-books">
               <h1>Ouvrages récement ajoutés</h1>
               <p>Recently added books will be here, limit 8</p>

               {% for book in books|slice (0, 8) %}
               <div class="book-item-img">
              <div class="col-md-3" id="book_item">
              <a href="#">
                <span class"hidden">{{ book.title }}</span>
                <div class="illustration">
                   <img class="bookListItem_img" src="{{ asset('/images/ebook.jpg') }}" alt="test" />
                </div>
                <h3 class="bookItem_title">{{ book.title }}</h3>
                <div class="libraryItem_detail">
                   <div class="libraryItem_description">
                      <div class="libraryItem_descriptionTitle">{{ book.title }}</div>
                      <div class="libraryItem_descriptionContent">{{ book.description }}</div>
                   </div>
                   <ul class="bookListItem_authors">
                      <li class="bookListItem_authors_editor">{{ book.editor }}</li>
                      <li class="bookListItem_authors_author">{{ book.author }}</li>
                   </ul>
                </div>
               </a>
             </div>
             </div>
             {% endfor %}

               <!--p class="book-item-box"><img src="{{ asset('/images/ebook.jpg') }}" alt="test" /></p-->

           </section>

           </div>
           <section class="col-md-12 popular" id="last-books-read">
           <h1>Ouvrages les plus populaires</h1>
           <p>Well noted books here, limit 8</p>
           {% for book in books|slice (0, 8) %}
           <div class="book-item-img">
          <div class="col-md-3" id="book_item">
          <a href="#">
            <span class"hidden">{{ book.title }}</span>
            <div class="illustration">
               <img class="bookListItem_img" src="{{ asset('/images/ebook.jpg') }}" alt="test" />
            </div>
            <h3 class="bookItem_title">{{ book.title }}</h3>
            <div class="libraryItem_detail">
               <div class="libraryItem_description">
                  <div class="libraryItem_descriptionTitle">{{ book.title }}</div>
                  <div class="libraryItem_descriptionContent">{{ book.description }}</div>
               </div>
               <ul class="bookListItem_authors">
                  <li class="bookListItem_authors_editor">{{ book.editor }}</li>
                  <li class="bookListItem_authors_author">{{ book.author }}</li>
               </ul>
            </div>
           </a>
         </div>
         </div>
         {% endfor %}


           </section>

           <section class="col-md-12 recent" id="recent-quiz">
           <h1>Meilleurs scores de quiz</h1>
           <p>Last quizes scores, limit 4</p>
           </section>




        <section class="row">
        <h1>This a test and will be deleted after success</h1>

{% set categoryArray = [] %}

{% for book  in books %}
    {% if book.category not in categoryArray %}
        <ul id="category_item">
            <li>{{ book.category }}</li>
        </ul>
        {% set categoryArray = categoryArray|merge([book.category])  %}
    {% endif %}
{% endfor %}

<h2>Test illustration</h2>

            {% for book  in books %}
            <img src="images/{{ book.illustration }}" alt="test" />
            {% endfor %}

  </section>

        {% endblock %}





        {% block stylesheets %}
        	{{ parent() }}
            <link href="{{ asset('/css/book.css') }}" rel="stylesheet">
        {% endblock %}
